/*Styles from main page*/

html, body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../../assets/img/new-background.png") no-repeat center center fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

body {
    /*@import url("http://fonts.googleapis.com/css?family=Roboto:400,700");*/
    font-family: "Noto Sans", sans-serif;
}

.main-section {
    padding: 2% 5%;
    background-color: rgba(103, 66, 114, 0.4);
    color: white;
}

.title {
    text-align: center;
    margin-bottom: 3%;
    font-weight: bolder;
    color: #A38F3B;
}

.title-image {
    height: auto;
}

/*@media only screen and (max-width : 992px) {
    .description {
        padding-top: 5%;
    }
    img {
        width: 100%;
        padding: 5% 0;
    }
}

@media only screen and (min-width : 992px) {
    .description {
        padding-top: 6%;
    }
}*/

.card-picture {
	height: auto;
	width: 100%;
  padding: 5%;
	margin-left: auto;
  margin-right: auto;
	cursor: pointer;
	-webkit-filter: grayscale(100%);
	-webkit-transition: .5s ease-in-out;
	-moz-filter: grayscale(100%);
	-moz-transition: .5s ease-in-out;
	-o-filter: grayscale(100%);
	-o-transition: .5s ease-in-out;
	filter: grayscale(100%);
}

.card-picture:hover {
	-webkit-filter: grayscale(0%);
	-webkit-transition: .5s ease-in-out;
	-moz-filter: grayscale(0%);
	-moz-transition: .5s ease-in-out;
	-o-filter: grayscale(0%);
	-o-transition: .5s ease-in-out;
	filter: grayscale(0%);
}

.company-card {
  vertical-align: middle;
  padding: 0 2% 4%;
	margin-bottom: 3%;
	background-color: white;
	display: inline-block;
	background-clip:content-box;
	color: #2F0529;
	margin-left: auto;
	margin-right: auto;
}

.company-card-subtitle {
	text-align: center;
	font-size: 1.1em;
}

.company-card-picture {
  height: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  vertical-align: middle;
}

.card-container {
	position: relative;
	height: 100%;
	padding-bottom: 0%;
}

.card-overlay {
	position: absolute;
	bottom: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	background-color: white;
	padding: 0 0.7em;
	cursor: pointer;
}

.card-overlay-content {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	overflow: hidden;
	margin: 3% 5%;
}

@media only screen and (min-width : 768px) {
    .main-section {
        margin: 5% 15% 0;
        padding: 2% 5%;
    }
}

@media only screen and (max-width : 767px) {
    .main-section {
        /*margin: 5% 15% 0;*/
        padding: 2% 5%;
    }
}

@media only screen and (max-width : 991px) {
    .company-card-logo {
        padding: 4%;
        margin-bottom: 5%;
        text-align: center;
        max-height: 200px;
    }

    .company-card-logo img {
        max-height: 200px;
        max-width: 100%;
        /*margin-bottom: 4%;*/
    }
}

@media only screen and (min-width : 992px) {
    .company-card-logo {
        text-align: center;
    }


    .company-card-logo img {

    }
}

img {
    max-width:100%;
}
